{% extends "base.html" %}

{% block titulo %} Ingresar Cursos {% endblock %}

{% block estilos %}
  <style>
    .helptext{
      color: green
    }
    .errorlist{
      color: red
    }
  </style>
{% endblock %}

{% block contenido %}
<H1>FORMULARIO DE CURSOS</H1>
<a href="{%url 'inicio' %}">Atras</a>
<form action="" method="post">
  {% csrf_token %}
  {% if formu.help_text %}
    <p class="help" >{{ formu.help_text|safe }}</p>
  {% endif %}

  {{formu}}<br>
  <input type="submit" value="REGISTRAR CURSO" class="btn btn-default">
</form>
<br>
{% for c in cursos  %}
      <div class="col-md-4 bs-callout bs-callout-info">
          <div class="list-group">
            <a href="#" class="list-group-item active">
                  {{c.ciclo}}
            </a>
            <a href="#" class="list-group-item">
              {{c.descripcioncurso}}
              <a href="../eliminarcurso/{{c.id}}/" class="glyphicon glyphicon-trash red">
              </a>
              <a href="{{c.id}}" class="glyphicon glyphicon-pencil blue"></a>


              <span class="badge">{{c.creditos}}</span>
            </a>
          </div>
      </div>
    {% endfor %}

{% endblock %}
